<a href="https://colab.research.google.com/github/Barragan17/Charaka/blob/master/Colab/BR_ItemSimilarity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from matplotlib import colors
from matplotlib.ticker import PercentFormatter

In [2]:
urlRating = '/content/drive/MyDrive/goodreads10k/ratings.csv'
urlBooks = '/content/drive/MyDrive/goodreads10k/books.csv'
urlTags = '/content/drive/MyDrive/goodreads10k/tags.csv'
urlBookTags = '/content/drive/MyDrive/goodreads10k/book_tags.csv'
urlToRead = '/content/drive/MyDrive/goodreads10k/to_read.csv'

In [5]:
book_tags = pd.read_csv(urlBookTags)

book_tags.sample(5)

        goodreads_book_id  tag_id  count
432699             208036    6410      2
596065            1629601    1691     23
787951           11366397   27314     32
261571              50937   20781      4
624310            3018539   21656     47

In [6]:
tags = pd.read_csv(urlTags)

tags.sample(5)

       tag_id               tag_name
29052   29052         susan-abulhawa
31687   31687          v--c--andrews
570       570                  2-nah
1367     1367  a-school-for-villains
20583   20583                 mozart

In [56]:
books = pd.read_csv(urlBooks)

books.sample(5)

        id  ...                                    small_image_url
5526  5527  ...  https://images.gr-assets.com/books/1178296503s...
4441  4442  ...  https://images.gr-assets.com/books/1374686324s...
7418  7419  ...  https://images.gr-assets.com/books/1404193356s...
4055  4056  ...  https://s.gr-assets.com/assets/nophoto/book/50...
4302  4303  ...  https://s.gr-assets.com/assets/nophoto/book/50...

[5 rows x 23 columns]

In [57]:
books_title = books[['book_id', 'title']]
books_title.head()

   book_id                                              title
0  2767052            The Hunger Games (The Hunger Games, #1)
1        3  Harry Potter and the Sorcerer's Stone (Harry P...
2    41865                            Twilight (Twilight, #1)
3     2657                              To Kill a Mockingbird
4     4671                                   The Great Gatsby

In [72]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from sklearn.metrics.pairwise import cosine_similarity

tf = TfidfVectorizer(analyzer = 'word', ngram_range = (1,2), min_df = 0, stop_words = 'english')
tfidf_matrix = tf.fit_transform(books_title['title'])
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
cosine_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [73]:
titles = books_title['title']
indices = pd.Series(books_title.index, index = books_title['title']) #converting all titles into a Series

#Function that gets book recommendations based on the cosine similarity score of book titles
def book_recommendations(title, n):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key = lambda x:x[1], reverse = True)
    sim_scores = sim_scores[1:n+1]
    book_indices = [i[0] for i in sim_scores]
    return titles.iloc[book_indices]

In [74]:
book_index = 10
n = 20

print(books_title['title'][book_index])
book_recommendations(books_title.title[book_index],n)

The Kite Runner

8946                                        Once a Runner
90                      The Maze Runner (Maze Runner, #1)
375                      The Death Cure (Maze Runner, #3)
945                    The Kill Order (Maze Runner, #0.5)
258                   The Scorch Trials (Maze Runner, #2)
6711    Ultramarathon Man: Confessions of an All-Night...
0                 The Hunger Games (The Hunger Games, #1)
1       Harry Potter and the Sorcerer's Stone (Harry P...
2                                 Twilight (Twilight, #1)
3                                   To Kill a Mockingbird
4                                        The Great Gatsby
5                                  The Fault in Our Stars
6                                              The Hobbit
7                                  The Catcher in the Rye
8                   Angels & Demons  (Robert Langdon, #1)
9                                     Pride and Prejudice
11                              Divergent (Divergent, #1)
12                                                   1984
13                                            Animal Farm
14                              The Diary of a Young Girl
Name: title, dtype: object

In [76]:
book_recommendations('A Tale of Two Cities',5)

5871    A Tale of Two Cities / Great Expectations
2697                             Invisible Cities
1699                    A Tale for the Time Being
4754                                Winter's Tale
6416                            The Winter's Tale
Name: title, dtype: object

In [ ]:
result = pd.DataFrame()
n = 3 #Recommend top n similar books
print('Recommended books: ')
for i in my_list['Books read']:
    output = pd.DataFrame(book_recommendations(i,n))
    result = result.append(output)
result = result.drop_duplicates()
result